# Dependencies
node_modules/

# Production Build
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.production.local

# Editor / OS
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
